/********************************
CSS in this file will be for the landing page
*********************************/


.landing_main {
  margin-top: 100px;
  min-height: 574px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}