/********************************
CSS in this file will be used on the Update Information page.
*********************************/

#update_form {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}